* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 150px 15px 150px;
    background-color: #ecf39e;
    height: auto;
}

#switch-button {
    background-color: rgb(64, 170, 14);
    padding: 6px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(8, 49, 2, 0.662);
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

#switch-button:hover {
    background-color: white;
    color: rgb(30, 91, 4);
}

#cover {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(148, 158, 140, 0.723);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#baner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: aliceblue;
    height: 60vh;
    width: 60vw;
} 

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgb(22, 12, 0);;
    padding: 8px;
    border-radius: 6px;
    border: solid 2px rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    color: white;
    transition: 0.4s;
}

#cover.hidden {
    display: none;
}

nav {
    display: flex;
    gap: 15px;
}

#logo {
    font-family: Ubuntu, sans-serif;
    animation: logo 4s ease-in-out infinite;
    cursor: none;
    transition: 0.4s ease;
    font-size: 26px;
}

@keyframes logo {
    0%   { color: #ecf39e; }
    25%  { color: #90a955; }  
    50%  { color: #4f772d; }  
    75%  { color: #31572c; }
    100% { color: #132a13; }
}

nav a {
    font-family: Raleway, sans-serif;
    color: #132a13;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}

nav a:hover {
    color: rgb(207, 207, 207);
}

#about {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #90a955;
    min-height: 45vh;
    font-size: 18px;
    color: white;
}

#about_cont { 
    display: flex;
    flex-direction: column;
}

#about_head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 30px;
}
#about_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    max-width: 60%;
}

#about_img {
    display: flex;
    max-width: 40%;
}

#about_img img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px black;
}

#open-button{
    background-color: rgb(64, 170, 14);;
    padding: 6px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(11, 81, 2, 0.912);
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    transition: 0.4s;
    align-self: flex-start;
    margin-top: 15px;
}
#open-button:hover {
    background-color: white;
    color: rgb(30, 91, 4);
}

#projects {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    background-color: #4f772d;
    min-height: 45vh;
}

#projects_head {
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}

#project_container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: 50px;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(73, 132, 7, 0.5);
    padding: 0px;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

#skills {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: column;
    background-color: #31572c;
    min-height: 45vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;  
    color: white;
}

#skills_head {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}


#contact {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #132a13;
}

#owner {
    font-family: "Raleway", sans-serif;
    color: white;
    display: flex;
    align-items: center;
}

#contact_link {
    flex-direction: column;
}

#contact_link a {
    font-family: Raleway, sans-serif;
    color:#139f13;
    text-decoration: none;
    transition: 0.4s;
    cursor: pointer;
}
    
#contact_link a:hover {
    color: rgb(207, 207, 207);
}

#back-button {
    padding: 10px;
    background-color: rgb(64, 170, 14);;
    padding: 6px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(11, 81, 2, 0.912);
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    transition: 0.4s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#back-button:hover {
    background-color: white;
    color: rgb(30, 91, 4);
}

body.switch-mode header {
    background-color: #c2b2b4;
}

body.switch-mode nav a {
    color: #3a4454;
}

body.switch-mode nav a:hover {
    color:#f5dddd;
}

body.switch-mode #logo {
    animation: logo-switch 3s ease-in-out infinite;
}

@keyframes logo-switch {
    0%   { color: #c2b2b4; } 
    25%  { color: #6b4e71; } 
    50%  { color: #3a4454; }  
    75%  { color: #53687e; }
    100% { color: #f5dddd; }
}

body.switch-mode #switch-button {
    background-color: #152b50;

}

body.switch-mode #switch-button:hover {
    background-color: #f4f4f4;
    color: #0c2755;
}

body.switch-mode #about {
    background-color: #6b4e71;
}

body.switch-mode #open-button {
    background-color: #051d47;
    border-color: #ffffff;
    box-shadow: 0px 0px 10px #ffffff;
}

body.switch-mode #open-button:hover {
    background-color: #f4f4f4;
    color: #0c2755;
}

body.switch-mode #close-button {
    background-color: #051d47;
    border-color: #00009b;
    box-shadow: 0px 0px 10px #020793;
}
body.switch-mode #projects {
    background-color: #3a4454;
}

body.switch-mode #skills {
    background-color: #53687e;
}

body.switch-mode #contact {
    background-color:#f5dddd;
}

body.switch-mode #back-button {
    background-color: #152b50;
    border-color: #ffffff;
    box-shadow: 0px 0px 10px #ffffff;
}

body.switch-mode #back-button:hover {
    background-color: #f4f4f4;
    color: #0c2755;
}

body.switch-mode #contact_link a {
    color: #53687e;
}

body.switch-mode #contact_link a:hover {
    color: #6b4e71;
}

body.switch-mode #owner {
    color: #53687e;
}

body.switch-mode .project {
    background-color: rgb(234, 234, 234);
    border: solid 3px white;
    box-shadow: 0px 0px 20px #fffefe;
}

body.switch-mode #about_img img {
    box-shadow: 0px 0px 20px #ffffff;
}

@media screen and (max-width: 1200px) {
    #header {
        align-items: center;
        text-align: center;
        padding-left: 75px;
        padding-right: 75px;
    }

    nav {
        flex-flow: column wrap;
        justify-content: center;
        gap: 10px; 
        width: 100%;
        font-size: 12px;
    }

    #about {
        font-size: 16px;
    }

    #logo {
        font-size: 18px;
    }

    #project_container {
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 768px) {
    #header {
        align-items: center;
        text-align: center;
        padding-left: 45px;
        padding-right: 45px;
    }

    nav {
        flex-flow: column wrap;
        justify-content: center;
        gap: 7px; 
        width: 100%;
        font-size: 8px;
    }

    #logo {
        font-size: 16px;
    }
    
    #about {
        font-size: 12px;
    }

    #project_container {
        flex-flow: column wrap;
    }
}

@media screen and (max-width: 350px) {
    #header {
        align-items: center;
        text-align: center;
        padding-left: 45px;
        padding-right: 45px;
    }

    nav {
        flex-flow: column wrap;
        justify-content: center;
        gap: 7px; 
        width: 100%;
        font-size: 8px;
    }

    #logo {
        font-size: 16px;
    }
    
    #about {
        font-size: 12px;
    }

    #project_container {
        flex-flow: column wrap;
    }
}